VisualElement {}
.PrefabButtons {

}
.manager{
	flex-direction: row;
    flex-wrap: wrap;
}
.managerState{
height: 20px;
width: 20px;
}

.green_state{
background-color: green;
}
.red_state{
background-color: red;
}